body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

header {
  background: #333;
  color: #fff;
  padding: 16px;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 16px 0 0 0;
  text-align: center;
}

header nav ul li {
  display: inline-block;
  margin: 0 12px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background 0.2s;
}

header nav ul li a:hover {
  background: #444;
}

h1, h2, h3 {
  font-family: 'Exo 2', sans-serif;
}

h1 {
  margin: 0;
  font-size: 32px;
}

main {
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
}

section {
  background-color: #fff;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 5px;
}

#featured-article {
  background-color: #222;
  color: #fff;
  padding: 32px;
  text-align: left;
}

#featured-article h2 {
  font-size: 32px;
}

#featured-article .metadata {
  color: #fff;
}

#featured-article a {
  background-color: #fff;
  color: #333;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 20px;
  display: inline-block;
  margin-top: 16px;
}

#featured-article a:hover {
  text-decoration: none;
  background-color: #eee;
  color: #333;
}

h2 {
  margin-bottom: 8px;
  font-size: 28px;
}

h2, h3 {
  margin-top: 0;
}

.metadata {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #777;
}

.metadata li {
  margin-right: 4px;
  display: inline-block;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#more-articles ul {
  list-style: none;
  padding: 0;
}

#more-articles li {
  margin-bottom: 8px;
}

.author-img {
  border-radius: 50%;
  vertical-align: middle;
  
}

.article img {
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  #featured-article h2 {
  font-size: 24px;
}
  h1 {
    font-size: 24px;
  }
  h2, #featured-article h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  p {
    margin-bottom: 18px;
    font-size: 16px;
  }
  main {
    padding: 8px;
  }
  #featured-article {
    padding: 16px;
  }
  section {
    padding: 10px;
  }
}